<%- include('./partials/headerPartial', { pageTitle: 'ViewFiles' }) %>

  <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Tag</th>
        <th>Access</th>
        <th>View Previous</th>
        <th>Delete</th>
        <th>Download</th>

      </tr>
    </thead>
    <tbody>
      <% for (let item of files) { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.location %></td>
           <td><%= item.description %></td>
          <td><%= item.tag %></td>
          <td>
            <!-- Button with Dropdown -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <%= item.access %>
    </button>
    <div class="dropdown-menu">

      <form action="/s3/visibility" method="post">
        <input type="hidden" name="fileid" value="<%= item.id %>">

  
        <!-- Visibility options -->
        <label class="dropdown-item">
          <input type="radio" name="visibility" value="Public" required> Public
        </label>
        <label class="dropdown-item">
          <input type="radio" name="visibility" value="Private" required> Private
        </label>
        <label class="dropdown-item">
          <input type="radio" name="visibility" value="Shared" required> Shared
        </label>
  
        <!-- Submit Button -->
        <button type="submit" class="dropdown-item btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
          </td>
          <td>
            <form action="/s3/previousversion" method="post" >
              
              <input type="hidden" name="filename" value="<%= item.name %>">
              <input type="hidden" name="location" value="<%= item.location %>">
              <input type="hidden" name="filestoreid" value="<%= item.id %>">
              <button type="submit" class="btn btn-primary">View Previous</button>
            </form>
          </td>
          <td>
           
            <form action="/s3/delete" method="post" >
              <input type="hidden" name="fileid" value="<%= item.id %>">

              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
     
       
        </td>

        <td>
          <form action="/s3/download" method="post" >
            
            <input type="hidden" name="fileid" value="<%= item.id%>">
            <button type="submit" class="btn btn-primary">Download</button>
          </form>
        </td>


        </tr>
      <% } %>
    </tbody>
  </table>


  <div class="row">
    <div class="col">
      <h2 class="text-center mt-5 mb-5">Shared With You</h2>
    </div>
  </div>


<!-- This table is for shared with you -->
    <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Tag</th>
        <th>Access</th>
        <th>Download</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <% if (sharedWithYou.length > 0) { %>
      <% for (let item of sharedWithYou) { %>
        <tr>
          <td><%= item.FileStore.name %></td>
          <td><%= item.FileStore.location %></td>
           <td><%= item.FileStore.description %></td>
          <td><%= item.FileStore.tag %></td>
          <td>
            <%= item.accessType %>
          </td>
          <td>
            <form action="/s3/download" method="post" >
              <input type="hidden" name="fileid" value="<%= item.FileStore.id%>">
              <button type="submit" class="btn btn-primary">Download</button>
            </form>
          </td>


        <% if (item.accessType==="WriteAccess") { %>
          <td>
            <form action="/s3/delete" method="post" >
              <input type="hidden" name="fileid" value="<%= item.FileStore.id%>">
    
         
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
      <% }  %>

        
    


        </tr>
      <% } %>

      <% } else { %>
        <tr>
          <td colspan="4">No items shared with you.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
 

  <div class="row">
    <div class="col">
      <h2 class="text-center mt-5 mb-5">Shared By You</h2>
    </div>
  </div>





  <!-- This table is for shared by you -->
  <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Location</th>
        <th>Access</th>
        <th>SharedWith</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <% if (sharedByYou.length > 0) { %>
      <% for (let item of sharedByYou) { %>
        <tr>
          <td><%= item.FileStore.name %></td>
          <td><%= item.FileStore.location %></td>
          <td>
             <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <%= item.accessType %>
    </button>
    <div class="dropdown-menu">

      <form action="/s3/share" method="post">
        <input type="hidden" name="shareduserstoreid" value="<%= item.id %>">

  
        <!-- Visibility options -->
        <label class="dropdown-item">
          <input type="radio" name="access" value="ReadOnly" required> ReadOnly
        </label>
        <label class="dropdown-item">
          <input type="radio" name="access" value="WriteAccess" required> WriteAccess
        </label>
      
  
        <!-- Submit Button -->
        <button type="submit" class="dropdown-item btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
          </td>
          <td>
            
            <%= item.User.email %>
        </td>

        <td>
          <form action="/s3/deleteshare" method="post" >
            
            <input type="hidden" name="sharedstoreid" value="<%= item.id %>">
            <button type="submit" class="btn btn-primary">Delete Share</button>
          </form>
        </td>


        </tr>
      <% } %>
      <% } else { %>
        <tr>
          <td colspan="4">No items shared with you.</td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <%- include('./partials/footerPartial') %>
